.my-nav{
    margin-top: 1%;
    margin-right: 1%;
}

.form-box{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar{
    width: 40vw;
    height: 40px;
    padding-left: 12px;
    border: 1px rgba(173, 77, 77, 0.589) solid;
    border-radius: 20px;
}

/* the following command stops selecting the text box as a whole when clicked */
input:focus, textarea:focus {
    outline: none;
}

.button-box{
    width: 40vw;
    display: flex;
    justify-content: center;
}

#submit-button{
    display: block;
    margin-top: 2%;   
}

.adv-container-style{
    margin-top: 5%;
    margin-left: 3%;
}

.adv-form-style{
    margin-top: 2%;
}

.form-group-style{
    margin-top: 2%;
}

.adv-search-button{
    float: right;
    background-color: #4d90fe;
    text-align: center;
    color: white;
}