.my-nav{
    margin-top: 1%;
    margin-right: 1%;
}
.form-box{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search-bar{
    width: 40vw;
    height: 40px;
    border: 1px rgba(173, 77, 77, 0.589) solid;
    border-radius: 20px;
}
.button-box{
    width: 40vw;
    display: flex;
    justify-content: center;
}
#submit-button{
    display: block;
    margin-top: 2%;   
}