.toggler{
    display: none;
}

.ham-checkbox{
    display: none;
}

.my-nav{
    margin-top: 1%;
    margin-right: 1%;
}

@media only screen and (max-width: 450px){
    .toggler{
        float: right;
        display: block;
        cursor: pointer;
        margin-top: 1%;
        margin-right: 1%;
        width: 48px;
        height: 48px;
        padding: 10px;
    }
    .my-nav-bar{
        clear: both;
        display: none;
    }
    .nav-item{
        clear: both;
        display: block;
    }
    .my-nav{
        clear: both;
        display: block;
        text-align: center;
        margin-right: 0;
    }
    #toggle:checked + .my-nav-bar{
        clear: both;
        display: block;
        border-top: black 2px solid;
        border-bottom: black 2px solid;
    }
}

.form-box{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar{
    width: 60vw;
    min-width: 300px;
    min-height: 45px;
    padding-left: 12px;
    border: 1px rgba(173, 77, 77, 0.589) solid;
    border-radius: 20px;
}

/* the following command stops selecting the text box as a whole when clicked */
input:focus, textarea:focus {
    outline: none;
}

.button-box{
    margin-top: 4px;
    width: 60vw;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.submit-button{
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;   
}

.adv-container-style{
    clear: both;
    margin-top: 5%;
    margin-left: 3%;
}

.adv-form-style{
    margin-top: 2%;
}

.form-group-style{
    margin-top: 2%;
}

.adv-search-button{
    float: right;
    margin-bottom: 2%;
    background-color: #4d90fe;
    text-align: center;
    color: white;
}